{{ Preamble }}

{%- macro NewConstants(Type, Table) %}
{%- for Name, Details in Table sorted %}
    {%- if Details.Deprecated %}
    // # Deprecated
    //
    {%- endif %}
    // {{ Details.Description|safe }}
    {{ Name }} {{ Type }} = {%- if Details.IsInteger %}{{ Details.Value }}{% else %}"{{ Details.Value }}"{% endif %}
{%- endfor %}
{%- endmacro %}

{%- macro Stringer(VarName, Type, Table, IsInteger=false) %}
func ({{ VarName }} {{ Type }}) String() string {
	switch {{ VarName }} {
    {%- for Name, Details in Table sorted %}
    case {{ Name }}:
        return "{{ Details.Value }}"
    {%- endfor %}
    default:
        return {% if IsInteger %}strconv.FormatInt(int64({{ VarName }}), 10){% else %}string({{ VarName }}){% endif %}
	}
}
{%- endmacro %}

{% set CurrentGameName = GetGameName(ClientName) %}
{% set IsLOL = ClientName == "lol" %}

{% if ClientName == "val" %}
// Platform routes for Valorant.
type PlatformRoute string

const (
{{- NewConstants("PlatformRoute", VALRoutes) }}
)

{{- Stringer("route", "PlatformRoute", VALRoutes) }}
{%- endif %}

{% if IsLOL or ClientName == "tft" %}
// Platform routes for {{ CurrentGameName }}.
type PlatformRoute string

const (
{{- NewConstants("PlatformRoute", LOL_TFT_Routes) }}
)

{{- Stringer("route", "PlatformRoute", LOL_TFT_Routes) }}


{% if IsLOL %}
// Tournament regions for League of Legends.
type TournamentRegion string

const (
{%- for Name, Details in LOL_TFT_Routes sorted %}
{%- if Details.TournamentRegion %}
    {%- if Details.Deprecated %}
    // # Deprecated
    //
    {%- endif %}
    // {{ Details.Description|safe }}
    {{ Details.TournamentRegion|upper }} TournamentRegion = "{{ Details.TournamentRegion|lower }}"
{%- endif %}
{%- endfor %}
)

func (route TournamentRegion) String() string {
	switch route {
    {%- for Name, Details in LOL_TFT_Routes sorted %}
    {%- if Details.TournamentRegion %}
    case {{ Details.TournamentRegion|upper }}:
        return "{{ Details.TournamentRegion|lower }}"
    {%- endif %}
    {%- endfor %}
    default:
        return string(route)
	}
}
{%- endif %}

// {{ CurrentGameName }} ranked tiers, such as gold, diamond, challenger, etc.
type Tier string

const (
	IRON        Tier = "IRON"
	BRONZE      Tier = "BRONZE"
	SILVER      Tier = "SILVER"
	GOLD        Tier = "GOLD"
	PLATINUM    Tier = "PLATINUM"
    EMERALD     Tier = "EMERALD"
	DIAMOND     Tier = "DIAMOND"
	MASTER      Tier = "MASTER"
	GRANDMASTER Tier = "GRANDMASTER"
	CHALLENGER  Tier = "CHALLENGER"
)

func (tier Tier) String() string {
	switch tier {
    case IRON:
        return "IRON"
    case BRONZE:
        return "BRONZE"
    case SILVER:
        return "SILVER"
    case GOLD:
        return "GOLD"
    case PLATINUM:
        return "PLATINUM"
    case EMERALD:
        return "EMERALD"
    case DIAMOND:
        return "DIAMOND"
    case MASTER:
        return "MASTER"
    case GRANDMASTER:
        return "GRANDMASTER"
    case CHALLENGER:
        return "CHALLENGER"
	default:
		return string(tier)
	}
}

// {{ CurrentGameName }} rank divisions, I, II, III, IV, and (deprecated) V.
type Division string

const (
	I   Division = "I"
	II  Division = "II"
	III Division = "III"
	IV  Division = "IV"
    // # Deprecated
    V   Division = "V"
)

func (division Division) String() string {
    switch division {
    case I:
        return "I"
    case II:
        return "II"
    case III:
        return "III"
    case IV:
        return "IV"
    case V:
        return "V"
    default:
        return string(division)
    }
}

// Team IDs for {{ CurrentGameName }}.
type Team int

// https://github.com/MingweiSamuel/Riven/blob/v/2.x.x/riven/src/consts/team.rs

const (
    // Team ID zero for 2v2v2v2 Arena `CHERRY` game mode. (TODO: SUBJECT TO CHANGE?)
    ZERO  Team = 0
    // Blue team (bottom left on Summoner's Rift).
    BLUE  Team = 100
    // Red team (top right on Summoner's Rift).
    RED   Team = 200
    // "killerTeamId" when Baron Nashor spawns and kills Rift Herald.
    OTHER Team = 300
)

func (team Team) String() string {
    switch team {
    case ZERO:
        return "0"
    case BLUE:
        return "100"
    case RED:
        return "200"
    case OTHER:
        return "300"
    default:
        return strconv.FormatInt(int64(team), 10)
    }
}

// {{ CurrentGameName }} game types: matched game, custom game, or tutorial game.
type GameType string

const (
{{- NewConstants("GameType", GameTypes) }}
)

{{- Stringer("gameType", "GameType", GameTypes) }}

// {{ CurrentGameName }} ranked queue types.
type QueueType string

const (
{{- NewConstants("QueueType", FilterTFT(QueueTypes, IsLOL)) }}
)

{{- Stringer("queueType", "QueueType", FilterTFT(QueueTypes, IsLOL)) }}

// {{ CurrentGameName }} game modes, such as Classic,
// ARAM, URF, One For All, Ascension, etc.
type GameMode string

const (
{{- NewConstants("GameMode", FilterTFT(GameModes, IsLOL)) }}
)

{{- Stringer("gameMode", "GameMode", FilterTFT(GameModes, IsLOL)) }}

// {{ CurrentGameName }} maps.
type Map int

const (
{{- NewConstants("Map", FilterTFT(Maps, IsLOL)) }}
)

{{- Stringer("gameMap", "Map", FilterTFT(Maps, IsLOL), true) }}

// {{ CurrentGameName }} queues.
type Queue int

const (
{{- NewConstants("Queue", FilterTFT(Queues, IsLOL)) }}
)

{{- Stringer("queue", "Queue", FilterTFT(Queues, IsLOL), true) }}
{%- endif %}
