{{ Preamble }}

{%- macro NewConstants(TypeName, Table) %}
{%- for Name, Details in Table sorted %}
    // {{ Details.Description|safe }}
{%- if Details.Deprecated %}
    //
    // Deprecated
{%- endif %}
    {{ Name|upper }} {{ TypeName }} = "{{ Name }}"
{%- endfor %}
{%- endmacro %}

{%- macro ConstantStringer(VarName, TypeName, Table) %}
func ({{ VarName }} {{ TypeName }}) String() string {
	switch {{ VarName }} {
    {%- for Name, Details in Table sorted %}
    case {{ Name|upper }}:
        return "{{ Name }}"
    {%- endfor %}
    default:
        return string({{ VarName }})
	}
}
{%- endmacro %}

{% if ClientName == "val" %}
// Platform routes for Valorant.
type PlatformRoute string

const (
{{- NewConstants("PlatformRoute", VALRoutes) }}
)

{{- ConstantStringer("route", "PlatformRoute", VALRoutes) }}
{%- endif %}

{% if ClientName == "lol" or ClientName == "tft" %}
// LoL and TFT ranked tiers, such as gold, diamond, challenger, etc.
type Tier string

const (
	IRON        Tier = "IRON"
	BRONZE      Tier = "BRONZE"
	SILVER      Tier = "SILVER"
	GOLD        Tier = "GOLD"
	PLATINUM    Tier = "PLATINUM"
    EMERALD     Tier = "EMERALD"
	DIAMOND     Tier = "DIAMOND"
	MASTER      Tier = "MASTER"
	GRANDMASTER Tier = "GRANDMASTER"
	CHALLENGER  Tier = "CHALLENGER"
)

func (tier Tier) String() string {
	switch tier {
    case IRON:
        return "IRON"
    case BRONZE:
        return "BRONZE"
    case SILVER:
        return "SILVER"
    case GOLD:
        return "GOLD"
    case PLATINUM:
        return "PLATINUM"
    case EMERALD:
        return "EMERALD"
    case DIAMOND:
        return "DIAMOND"
    case MASTER:
        return "MASTER"
    case GRANDMASTER:
        return "GRANDMASTER"
    case CHALLENGER:
        return "CHALLENGER"
	default:
		return string(tier)
	}
}

// LoL and TFT rank divisions, I, II, III, IV, and (deprecated) V.
type Division string

const (
	I   Division = "I"
	II  Division = "II"
	III Division = "III"
	IV  Division = "IV"
    // Deprecated
    V   Division = "V"
)

func (division Division) String() string {
    switch division {
    case I:
        return "I"
    case II:
        return "II"
    case III:
        return "III"
    case IV:
        return "IV"
    case V:
        return "V"
    default:
        return string(division)
    }
}

// Platform routes for League of Legends (LoL), Teamfight Tactics (TFT).
type PlatformRoute string

const (
{{- NewConstants("PlatformRoute", LOL_TFT_Routes) }}
)

{{- ConstantStringer("route", "PlatformRoute", LOL_TFT_Routes) }}
{%- endif %}

{% if ClientName == "lol" %}
// Tournament regions for League of Legends (LoL).
type TournamentRegion string

const (
{%- for Name, Details in LOL_TFT_Routes sorted %}
{%- if Details.TournamentRegion %}
    // {{ Details.Description|safe }}
{%- if Details.Deprecated %}
    //
    // Deprecated
{%- endif %}
    {{ Details.TournamentRegion|upper }} TournamentRegion = "{{ Details.TournamentRegion|lower }}"
{%- endif %}
{%- endfor %}
)

func (route TournamentRegion) String() string {
	switch route {
    {%- for Name, Details in LOL_TFT_Routes sorted %}
    {%- if Details.TournamentRegion %}
    case {{ Details.TournamentRegion|upper }}:
        return "{{ Details.TournamentRegion|lower }}"
    {%- endif %}
    {%- endfor %}
    default:
        return string(route)
	}
}

// League of Legends game type: matched game, custom game, or tutorial game.
type GameType string

const (
{{- NewConstants("GameType", GameTypes) }}
)

{{- ConstantStringer("gameType", "GameType", GameTypes) }}

// League of Legends game mode, such as Classic,
// ARAM, URF, One For All, Ascension, etc.
type GameMode string

const (
{{- NewConstants("GameMode", GameModes) }}
)

{{- ConstantStringer("gameMode", "GameMode", GameModes) }}

// LoL ranked queue types.
type QueueType string

const (
{%- for ID, Details in QueueTypes sorted %}
{%- if not ("TFT" in ID) %}
    // {{ Details.Description|safe }}
{%- if Details.Deprecated %}
    //
    // Deprecated
{%- endif %}
    {{ Details.Name|upper }} QueueType = "{{ ID }}"
{%- endif %}
{%- endfor %}
)

func (queue QueueType) String() string {
	switch queue {
    {%- for ID, Details in QueueTypes sorted %}
    {%- if not ("TFT" in ID) %}
    {%- if Details.Name %}
    case {{ Details.Name|upper }}:
        return "{{ ID }}"
    {%- endif %}
    {%- endif %}
    {%- endfor %}
    default:
        return string(queue)
	}
}
{%- endif %}
 
{% if ClientName == "tft" %}
// TFT game type: matched game, custom game, or tutorial game.
type GameType string

const (
{{- NewConstants("GameType", GameTypes) }}
)

{{- ConstantStringer("gameType", "GameType", GameTypes) }}

// League of Legends game mode, such as Classic,
// ARAM, URF, One For All, Ascension, etc.
type GameMode string

const (
{{- NewConstants("GameMode", GameModes) }}
)

{{- ConstantStringer("gameMode", "GameMode", GameModes) }}

// TFT ranked queue types.
type QueueType string

const (
{%- for ID, Details in QueueTypes sorted %}
{%- if "TFT" in ID %}
    // {{ Details.Description }}
{%- if Details.Deprecated|safe %}
    //
    // Deprecated
{%- endif %}
    {{ Details.Name|upper }} QueueType = "{{ ID }}"
{%- endif %}
{%- endfor %}
)

func (queue QueueType) String() string {
	switch queue {
    {%- for ID, Details in QueueTypes sorted %}
    {%- if "TFT" in ID %}
    {%- if Details.Name %}
    case {{ Details.Name|upper }}:
        return "{{ ID }}"
    {%- endif %}
    {%- endif %}
    {%- endfor %}
    default:
        return string(queue)
	}
}
{%- endif %}
