{{ Preamble }}

{% for DTO, Model in Models sorted %}
// {{ Model.DTO }}
{%- if model.Description %}
//
// {{ Model.Description|safe }}
{%- endif %}
type {{ DTO }} struct {
{%- for Prop in Model.Props sorted %}
{%- if Prop.Description %}
    // {{ Prop.Description|safe }}
{%- endif %}
    {{ Prop.Name }} {{ Prop.Type }} {{ Prop.JSONField|safe }}
{%- endfor %}
}

{% endfor -%}
