{{ Preamble }}

// Regional routes, used in tournament services, Legends of Runeterra, and some other endpoints.
type RegionalRoute string

const (
{%- for Name, Details in RegionalRoutes sorted %}
    {%- if Details.Deprecated %}
    // # Deprecated
    //
    {%- endif %}
    // {{ Details.Description|safe }}
    {{ Name }} RegionalRoute = "{{ Details.Value }}"
{%- endfor %}
)

func (route RegionalRoute) String() string {
	switch route {
    {%- for Name, Details in RegionalRoutes sorted %}
    case {{ Name }}:
        return "{{ Details.Value }}"
    {%- endfor %}
    default:
        return string(route)
	}
}
